@media screen and (max-width: 1675px) {
  header, footer, .bcblock {
    min-width: auto;
  }
  .container-fluid {
    min-width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-mid .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footertop {
    height: auto;
    padding: 38px 0 35px 0;
  }
  .product-item-detail {
    margin-left: 8px; 
    width: 43%;
  }
}

@media screen and (max-width: 1440px) {
  .row-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 1320px) {
  .navbar-top a {
    font-size: 12px;
  }
  .bx-wrapper .bx-pager {
    bottom: 11px;
  }
  .bx-wrapper .infotag {
    bottom: 15px;
  }
  .block-default-images .mb_background .titleblock {
    line-height: 19px;
  }
  .hitsbxslider .hits_item .hits_price {
    margin-top: 0;
  }
  .topblock .topplace .firmblock a {
    font-size: 14px;
  }
  .defaulterblock .newsbitemlast {
    margin-top: 3px;
  }
  .defaulterblock .defname {
    margin-bottom: 3px;
  }
  .defaulterblock .defsum .defsumleft {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    max-width: 150px;
    width: 100%;
  }
  .defaulterblock .defsum .defsumright {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    max-width: 150px;
    width: 100%;
  }
  .opinionblock .opinionphotoblock img {
    height: 110px;
  }
  .pricelistblock .pricelistdown .pricelistimg {
    font-size: 55px;
  }
  .pricelistblock .pricelistdown .pricelisttext {
    margin-left: 70px;
  }
  .pricelistblock .pricelistdown .pricelisttext .pricelistlink {
    padding-top: 0px;
  }
  .lk_userinfo .lk_userinfoimg {
    float: none;
  }
  .lk_userinfo .lk_userinfotext {
    margin-left: 0;
  }
  .nodisp1320 {
    display: none !important;
  }
  .nomarginleft1320 {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-height: 1200px) and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 992px) {
  .container-fluid-spacer {
    padding: 7px;
  }
  .full-image-preview {
    width: 45%;
  }
  .flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-mid .logo {
    margin: 15px auto 26px;
  }
  .search-form_top {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    width: 100vw;
    padding: 0;
    background: white;
    z-index: 9;
  }
  .search-form_top .searchblockform {
    margin: 0;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  .search-form_top .input-group {
    padding: 0 15px;
  }
  .search-form_top .mfp-close {
    color: #509bc3;
    height: 78px;
    width: 73px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .col-footerlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descr {
    display: flex;
    justify-content: center;
  }
  .order-xs-1 {
    order: 1;
  }
  .row-xs-flex { 
    display: flex;
    flex-wrap: wrap;
  }
  .footerproject a {
    max-width: none;
  }
  .pad-sm-0 {
    padding: 0;
  }
  .col-xs-12.double-banners:nth-child(2) {
    /* display: none; */
  }
  h1, .detailblock h1 {
    font-size: 34px;
    line-height: 35px;
  }
  .corpnewsblock .tagblock .btag,
  .corpnewsblock .tagblock .gtag {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 5px;
  }
  .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
  }
  .tbmmain > .dropdown-submenu > a {
    pointer-events: none;
  }
  .pricelistblock.mainblock, .newsblock.mainblock {
    min-height: auto;
    max-height: none;
  }
  
  .fliteralphabetblock .fliteralphabet {
    float: left;
    width: 100%;
    margin: 10px 0 0;
  }
  .product-item-detail {
    margin-left: 0px; 
    width: 100%;
  }
  .lk_companylogoblock {
    display: flex;
    flex-direction: column;
  }
  .lk_companylogoblock .lk_companylogotext {
    margin-left: 0px;
  }
}

@media screen and (max-width: 640px) {
  .navbar-mid .logo {
    margin: 0 auto;
  }
  .bannerClick .altBanner {
    background-size: cover;
    background-position: center center;
  }
  .btn-mobile-nav .hamburger {
    background-color: #c92929;
  }
  .btn-mobile-nav .icon-icons_main-14 {
    color: #009bc7;
  }
  .hamburger .hamburger-box {
    width: 20px;
    margin: 5px 13px;
  }
  .hamburger .hamburger-inner::before {
    top: -7px;
  }
  .hamburger .hamburger-inner::after {
    bottom: -7px;
  }
  .hamburger-box .hamburger-inner, .hamburger-box .hamburger-inner::after, .hamburger-box .hamburger-inner::before {
    background-color: white;
    border-radius: 0;
    width: 20px;
    height: 2px;
  }
  .footerlogo a {
    background-size: cover;
    height: 77px;
    width: 300px;
    background-position: center center;
  }
  .news-block-scroll {
    height: 235px;
  }
  .eventssecblock .eventitem .descrblock .imgblock img {
    width: 50px;
  }
  .eventssecblock .eventitem .descrblock .textblock {
    margin-left: 90px;
  }
  .eventssecblock .eventitem .descrblock .textblock .descrtitle {
    font-size: 16px;
  }
  .corpnewsblock .newsbitem .newsbfirm {
    position: relative;
    left: auto;
    clear: both;
    padding-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-mid .logo {
    height: 35px;
    background-position: center center;
  }
  .btn-mobile-nav .icon-icons_main-14 {
    font-size: 21px;
  }
  .block-default.block-shadow.content-margin {
    overflow: auto;
    padding: 20px 20px;
  }
  .cell-1-xs {
    width: 8.33333%;
    -webkit-flex-basis: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
  }
  .cell-2-xs {
    width: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }
  .cell-3-xs {
    width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .cell-4-xs {
    width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  .cell-5-xs {
    width: 41.66667%;
    -webkit-flex-basis: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
  }
  .cell-6-xs {
    width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .cell-7-xs {
    width: 58.33333%;
    -webkit-flex-basis: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
  }
  .cell-8-xs {
    width: 66.66667%;
    -webkit-flex-basis: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
  }
  .cell-9-xs {
    width: 75%;
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .cell-10-xs {
    width: 83.33333%;
    -webkit-flex-basis: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
  }
  .cell-11-xs {
    width: 91.66667%;
    -webkit-flex-basis: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
  }
  .cell-12-xs {
    width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .cell-fifth-xs {
    width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  .cell-12-xs+.cell-12-xs {
    margin-top: 20px;
  }
  .cell-12-xs.content-margin+.cell-12-xs {
    margin-top: 0px;
  }
  .cell-12-xs>.content-margin {
    margin-bottom: 0px;
  }
  .addcommenttext .addcommentimg {
    display: none;
  }
  .addcommentblock .addcommenttext .addcommenttextarea {
    margin-left: 0px;
  }
  .detailblock .descrcontent {
    margin: 20px 0;
  }
  .eventsblock .buttonblock, .defaulterblock .buttonblock, .opinionblock .buttonblock, .commentblock .buttonblock, .newblock .buttonblock, .compnewsblock .buttonblock, .hitssecitem .buttonblock {
    margin-left: -20px;
  }
  .news-block-scroll .newsbitem .newsbtext .newsbtitle {
    margin: 6px 0 5px;
    font-size: 14px;
  }
  .goodsrewsblock {
    min-height: auto;
    max-height: none;
    border-radius: 5px;
    overflow: hidden;
  }
  .goodsrewsblock .rightimg {
    display: none;
  }
  .block-default-images .leftimg .mb_background, .block-default-images .leftimg, .block-default-images .rightimg .mb_background, .block-default-images .rightimg {
    margin: 0;
    border-radius: 0;
    overflow: hidden;
  }
  .eventsblock {
    min-height: auto;
    max-height: none;
    padding-bottom: 65px;
  }
  .eventsblock .seporator {
    display: none;
  }
  .eventsblock .row:nth-child(2) {
    display: none;
  }
  .eventsblock .newsbitem {
    margin-bottom: 15px;
  }
  .eventsblock .newsbimg .calendbottom {
    padding: 6px 0 0px;
    font-size: 36px;
  }
  .mainblock .mainBrandsBlock .infotvc::after {
    display: none;
  }
  .topblock, .catalogblock.mainblock, .brandblock.mainblock {
    min-height: auto;
    max-height: none;
    padding-bottom: 55px;
  }
  .tableblockitem .textblock .titleblock {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0px;
  }
  .tableblockitem .textblock .firmblock {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .brandblock .infotvc {
    height: 47px;
    overflow: hidden;
  }
  .brandblock .infotvc, .catalogblock .infotvc {
    line-height: 15px;
  }
  .topblock {
    padding-bottom: 30px;
  }
  .topblock .row-xs-flex a {
    width: 100%;
  }
  .topblock .topplace {
    width: 100%;
    margin-top: 25px;
  }
  .topblock .topplace .firmblock {
    height: auto;
  }
  .pricelistblock .pricelistdown .pricelistimg.xls img {
    height: 50px;
  }
  .footerinfo {
    font-size: 18px;
  }
  .footerbottom {
    height: auto;
  }
  .footerbottom .floatright {
    float: left;
  }
  .addfilterblock .floatright {
    margin-top: 15px;
    float: left;
  }
  .corpnewsblock .newsbitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .corpnewsblock .newsbitem .newsbtext .newsbtitle {
    margin-top: 15px;
  }
  .not-index-page .corpnewsblock .newsbitem .newsbtext .newsbtitle {
    margin-top: -5px;
    margin-bottom: 13px;
    line-height: 21px;
    font-size: 16px;
  }
  .nonpayersfind .tabblock {
    font-size: 13px;
  }
  .nonpayersfind .tabblock li a {
    padding: 5px;
  }
  .nonpayersfind .table-block .table-text {
    width: 100%;
    padding-right: 0px;
    float: left;
  }
  .nonpayersfind .panel-default {
    overflow: auto;
  }
  .defaulterblock .defsum {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .corpnewsblock .newsbimg {
    width: 29%;
  }
  .corpnewsblock .newsbimg img {
    width: 100%;
  }
  .corpnewsblock .newsbitem .newsbtext {
    margin-left: 33%;
  } */
  .corpnewsblock .newsbimg {
    margin-bottom: 15px;
  }
  .corpnewsblock .newsbitem .newsbtext {
    margin-left: 0;
  }
  .prod-detail .full-image-preview {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  h1, .detailblock h1 {
    font-size: 27px;
    line-height: 29px;
  }
  .btn-mobile-nav .hamburger {
    padding: 7px;
  }
  .searchblock .dropdown-toggle {
    width: 110px;
    height: 30px;
  }
  .searchblock .form-control {
    height: 30px;
    padding: 5px 17px;
  }
  .search-form_top .searchblockform {
    height: 55px;
  }
  .searchblock .searchinputblock .searchbutton {
    right: 3px;
    top: 2px;
  }
  .searchblock .searchinputblock .searchbutton i {
    font-size: 15px;
  }
  .searchblock .btn {
    padding: 5px 14px;
  }
  .search-form_top .mfp-close {
    height: 55px;
  }
  .navbar-mobile a {
    font-size: 21px;
    font-weight: 500;
    padding: 7px 30px;
  }
  .content-margin {
    margin-bottom: 15px;
  }
  .mainbxslider .mb_item .mb_background .mb_preview {
    font-size: 23px;
    line-height: 0.95;
  }
  .defaulterblock.mainblock, .newblock.mainblock {
    min-height: auto;
    max-height: none;
    padding-bottom: 55px;
  }
  .defaulterblock.mainblock {
    padding-bottom: 80px;
  }
  .floatright .newsblockajax {
    display: none;
  }
  .defaulterblock .newsbitemlast {
    margin-top: 20px;
  }
  .footerlogo a {
    height: 57px;
    width: 220px;
  }
  .eventstabs .title {
    font-size: 12px;
    padding: 4px 10px 4px 0;
  }
  .eventstabs .tab {
    margin-bottom: 7px;
    margin-right: 7px;
    font-size: 12px;
  }
  .eventstabs .tab a {
    padding: 3px 7px;
  }
  .eventstabs.content-margin {
    margin-bottom: 5px;
  }
  .eventssecblock .eventitem .descrblock .textblock {
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) and (max-height: 768px) {}

@media screen and (max-width: 640px) and (max-height: 640px) {}

@media screen and (max-width: 480px) and (max-height: 640px) {}