/* Editor */

#js-editor {
  padding: 0;
  margin: 12px 10px 12px 0;
}

#js-editor:focus-within {
  background-color: white;
}

#js-editor .codex-editor.codex-editor--empty {
  background-color: #f3f3f3;
}

#js-editor .codex-editor.codex-editor--empty:after {
  content: "Текст публикации";
  position: absolute;
  top: 13px;
  left: 20px;
  line-height: 1.3em;
  font-weight: 500;
  opacity: .3;
  font-style: italic;
  font-size: 18px;
}

#js-editor:focus-within .codex-editor.codex-editor--empty::after {
  content: "";
}

.ce-toolbar {
  z-index: 3;
}

.ce-block {
  margin-right: 0;
  padding: 0 30px 0 20px;
}

.ce-block:hover {
  background-color: #f3f3f3;
}

.codex-editor--narrow .ce-block.ce-block--focused {
  margin-right: 0;
  padding-right: 0;
}

.ce-block__content, .ce-toolbar__content {
  max-width: unset;
}

.cdx-settings-button--active {
  background: linear-gradient(to top, rgba(246, 246, 246, 0.5), rgba(240, 240, 240, 1));
}

.ce-toolbox--opened {
  background-color: white;
  width: 100%;
}

.ce-maintitle {
  margin: 0 0 12px;
}

.ce-preview {
  display: flex;
}

.ce-maintitle input, .ce-preview textarea {
  background: rgb(243, 243, 243);
  display: block;
  width: 100%;
  height: 47px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: 1px solid transparent;
  outline: 0 !important;
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 500;
  border-radius: 1px;
  padding: 5px 18px;
}

.ce-maintitle input:focus, .ce-preview textarea:focus {
  background: transparent;
}

.ce-preview textarea {
  height: 75px;
  font-size: 16px;
}

.ce-maintitle input::placeholder, .ce-preview textarea::placeholder {
  line-height: 2.3em;
  font-weight: 500;
  opacity: .5;
}

.ce-maintitle input:not(:placeholder-shown), .ce-preview textarea:not(:placeholder-shown) {
  background-color: white;
  border: 2px solid #d3d2d2;
}

.ce-maintitle input::placeholder {
  font-size: 36px;
  line-height: 1em;
  font-style: normal!important;
}

.ce-preview textarea.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.ce-preview .lk_companylogoblock {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 110px;
  padding: 5px;
  margin-right: 12px;
  border: 2px dashed #d3d2d2;
}

.ce-preview .lk_companylogoimgEditForm {
  position: absolute;
  float: unset;
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 10px);
  background-color: white;
}

.ce-preview .lk_companylogobtn {
  position: relative;
}

.block-with-img .lk_companylogoimgEditForm {
  z-index: 3;
}

.block-with-img:hover .lk_companylogobtn {
  z-index: 5;
}

.block-with-img:hover .block_del_img {
  display: flex;
}

.ce-preview .lk_companylogoimgEditForm img {
  width: 100%;
}

.ce-preview .lk_companylogoblock .lk_companylogotextEditForm .lk_companylogotitle, .ce-preview .lk_companylogoblock .lk_companylogotextEditForm, .ce-preview .lk_companylogoblock .lk_companylogotextEditForm label, .ce-preview .lk_companylogotextEditForm {
  margin: 0px;
}

.ce-preview .btn.btnplus {
  font-size: 12px;
  white-space: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  color: rgba(80, 155, 195, .5);
}

.ce-preview .btn.btnplus .plus {
  margin: 0 0 7px 0;
}

.ce-preview .btn.btnplus:hover, .ce-preview .btn.btnplus:focus {
  background-color: #f7f7f7;
  color: #6f6f6f;
}

.block_del_img {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
  display: none;
}

.post_block {
  display: block;
  line-height: 1.6em;
  width: 100%;
  text-align: center;
}

.post_delimiter:before {
  display: inline-block;
  content: "***";
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.2em;
}

.block_del_img input, .block_del_img label {
  cursor: pointer;
}

.codex-editor {
  /* padding: 10px 0 0; */
}

.ce-paragraph[data-placeholder]:empty::before {
  visibility: hidden;
  opacity: .5;
}

.codex-editor__redactor {
  position: relative;
  z-index: 1;
}

.codex-editor__redactor .ce-block--focused .ce-paragraph[data-placeholder]:empty::before {
  /* .codex-editor__redactor .ce-paragraph[data-placeholder]:empty::before { */
  opacity: .5;
  visibility: visible;
}

.block-moveTo {
  margin-bottom: 15px;
}

.previewBlock {
  margin-top: 25px;
}

.cdx-input.image-tool__caption, .cdx-input.embed-tool__caption {
  display: none;
}

.edWarning {
  margin: 10px 15px;
  padding-left: 75px;
  background: url("/uploads/images/warning.png") no-repeat center left / 45px transparent;
  color: red;
  font-size: 20px;
}

.post_image--stretched img {
  width: 100%;
}

.post_image--withBackground {
  background: #cdd1e0;
  padding: 15px;
}

.post_image--withBackground img {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.post_image--withBorder {
  border: 1px solid #ececec;
}

.list__block {
  margin: 0;
  padding: 1.4em 0;
  padding-left: 50px;
}

.list__block .list__item {
  padding: 5.5px 0 5.5px 3px;
  line-height: 1.6em;
}

.link-tool__content {
  display: block;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #fff;
  color: initial !important;
  text-decoration: none !important;
}

.link-tool__content--rendered {
  background: #fff;
  border: 1px solid rgba(201, 201, 204, 0.48);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border-radius: 6px;
  will-change: filter;
  animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);
  margin: 17px 0;
}

.link-tool__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 10px 0;
}

.link-tool__description {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 1.55em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}