@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url("../fonts/ProximaNova-RegularIt.eot");
  src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg"), url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerRegular';
  src: url("../fonts/MullerRegular.eot");
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular.svg#MullerRegular") format("svg"), url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerMedium';
  src: url("../fonts/MullerMedium.eot");
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium.svg#MullerMedium") format("svg"), url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/MullerLight.eot");
  src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype"), url("../fonts/MullerLight.svg#MullerLight") format("svg"), url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerBold';
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold.svg#MullerBold") format("svg"), url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?5oud2p");
  src: url("../fonts/icomoon.eot?5oud2p#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?5oud2p") format("truetype"), url("../fonts/icomoon.woff?5oud2p") format("woff"), url("../fonts/icomoon.svg?5oud2p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 111, ../../sass/fonts.scss */
[class^="icon-"], [class*=" icon-"], .caret, .bx-prev, .bx-next {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 126, ../../sass/fonts.scss */
.icon-icons_main-01:before {
  content: "\e900";
}

/* line 129, ../../sass/fonts.scss */
.icon-icons_main-02 .path1:before {
  content: "\e901";
  color: #d73435;
}

/* line 133, ../../sass/fonts.scss */
.icon-icons_main-02 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: #d73435;
}

/* line 138, ../../sass/fonts.scss */
.icon-icons_main-02 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: #d73435;
}

/* line 143, ../../sass/fonts.scss */
.icon-icons_main-02 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: #d73435;
}

/* line 148, ../../sass/fonts.scss */
.icon-icons_main-02 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: #d73435;
}

/* line 153, ../../sass/fonts.scss */
.icon-icons_main-02 .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: #d73435;
}

/* line 158, ../../sass/fonts.scss */
.icon-icons_main-02 .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: #d73435;
}

/* line 163, ../../sass/fonts.scss */
.icon-icons_main-02 .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: black;
}

/* line 168, ../../sass/fonts.scss */
.icon-icons_main-02 .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: black;
}

/* line 173, ../../sass/fonts.scss */
.icon-icons_main-02 .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: black;
}

/* line 178, ../../sass/fonts.scss */
.icon-icons_main-02 .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: black;
}

/* line 183, ../../sass/fonts.scss */
.icon-icons_main-02 .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: black;
}

/* line 188, ../../sass/fonts.scss */
.icon-icons_main-02 .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: black;
}

/* line 193, ../../sass/fonts.scss */
.icon-icons_main-02 .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: black;
}

/* line 198, ../../sass/fonts.scss */
.icon-icons_main-02 .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: black;
}

/* line 203, ../../sass/fonts.scss */
.icon-icons_main-02 .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: black;
}

/* line 208, ../../sass/fonts.scss */
.icon-icons_main-02 .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: black;
}

/* line 213, ../../sass/fonts.scss */
.icon-icons_main-02 .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: black;
}

/* line 218, ../../sass/fonts.scss */
.icon-icons_main-02 .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: black;
}

/* line 223, ../../sass/fonts.scss */
.icon-icons_main-02 .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: black;
}

/* line 228, ../../sass/fonts.scss */
.icon-icons_main-02 .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: black;
}

/* line 233, ../../sass/fonts.scss */
.icon-icons_main-02 .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: black;
}

/* line 238, ../../sass/fonts.scss */
.icon-icons_main-02 .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: black;
}

/* line 243, ../../sass/fonts.scss */
.icon-icons_main-02 .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: black;
}

/* line 248, ../../sass/fonts.scss */
.icon-icons_main-02 .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: black;
}

/* line 253, ../../sass/fonts.scss */
.icon-icons_main-02 .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: black;
}

/* line 258, ../../sass/fonts.scss */
.icon-icons_main-02 .path27:before {
  content: "\e91b";
  margin-left: -1em;
  color: black;
}

/* line 263, ../../sass/fonts.scss */
.icon-icons_main-02 .path28:before {
  content: "\e91c";
  margin-left: -1em;
  color: black;
}

/* line 268, ../../sass/fonts.scss */
.icon-icons_main-02 .path29:before {
  content: "\e91d";
  margin-left: -1em;
  color: black;
}

/* line 273, ../../sass/fonts.scss */
.icon-icons_main-02 .path30:before {
  content: "\e91e";
  margin-left: -1em;
  color: black;
}

/* line 278, ../../sass/fonts.scss */
.icon-icons_main-02 .path31:before {
  content: "\e91f";
  margin-left: -1em;
  color: black;
}

/* line 283, ../../sass/fonts.scss */
.icon-icons_main-02 .path32:before {
  content: "\e920";
  margin-left: -1em;
  color: black;
}

/* line 288, ../../sass/fonts.scss */
.icon-icons_main-02 .path33:before {
  content: "\e921";
  margin-left: -1em;
  color: black;
}

/* line 293, ../../sass/fonts.scss */
.icon-icons_main-02 .path34:before {
  content: "\e922";
  margin-left: -1em;
  color: black;
}

/* line 298, ../../sass/fonts.scss */
.icon-icons_main-02 .path35:before {
  content: "\e923";
  margin-left: -1em;
  color: black;
}

/* line 303, ../../sass/fonts.scss */
.icon-icons_main-02 .path36:before {
  content: "\e924";
  margin-left: -1em;
  color: black;
}

/* line 308, ../../sass/fonts.scss */
.icon-icons_main-02 .path37:before {
  content: "\e925";
  margin-left: -1em;
  color: black;
}

/* line 313, ../../sass/fonts.scss */
.icon-icons_main-02 .path38:before {
  content: "\e926";
  margin-left: -1em;
  color: black;
}

/* line 318, ../../sass/fonts.scss */
.icon-icons_main-02 .path39:before {
  content: "\e927";
  margin-left: -1em;
  color: black;
}

/* line 323, ../../sass/fonts.scss */
.icon-icons_main-02 .path40:before {
  content: "\e928";
  margin-left: -1em;
  color: black;
}

/* line 328, ../../sass/fonts.scss */
.icon-icons_main-02 .path41:before {
  content: "\e929";
  margin-left: -1em;
  color: black;
}

/* line 333, ../../sass/fonts.scss */
.icon-icons_main-02 .path42:before {
  content: "\e92a";
  margin-left: -1em;
  color: black;
}

/* line 338, ../../sass/fonts.scss */
.icon-icons_main-02 .path43:before {
  content: "\e92b";
  margin-left: -1em;
  color: black;
}

/* line 343, ../../sass/fonts.scss */
.icon-icons_main-02 .path44:before {
  content: "\e92c";
  margin-left: -1em;
  color: black;
}

/* line 348, ../../sass/fonts.scss */
.icon-icons_main-02 .path45:before {
  content: "\e92d";
  margin-left: -1em;
  color: black;
}

/* line 353, ../../sass/fonts.scss */
.icon-icons_main-02 .path46:before {
  content: "\e92e";
  margin-left: -1em;
  color: black;
}

/* line 358, ../../sass/fonts.scss */
.icon-icons_main-03:before {
  content: "\e92f";
}

/* line 361, ../../sass/fonts.scss */
.icon-icons_main-04:before {
  content: "\e930";
}

/* line 364, ../../sass/fonts.scss */
.icon-icons_main-05:before {
  content: "\e931";
}

/* line 367, ../../sass/fonts.scss */
.icon-icons_main-06:before {
  content: "\e932";
}

/* line 370, ../../sass/fonts.scss */
.icon-icons_main-07:before {
  content: "\e933";
}

/* line 373, ../../sass/fonts.scss */
.icon-icons_main-08:before {
  content: "\e934";
}

/* line 376, ../../sass/fonts.scss */
.icon-icons_main-09:before {
  content: "\e935";
}

/* line 379, ../../sass/fonts.scss */
.icon-icons_main-10:before {
  content: "\e936";
}

/* line 382, ../../sass/fonts.scss */
.icon-icons_main-11:before {
  content: "\e937";
}

/* line 385, ../../sass/fonts.scss */
.icon-icons_main-12:before {
  content: "\e938";
}

/* line 388, ../../sass/fonts.scss */
.icon-icons_main-13:before {
  content: "\e939";
}

/* line 391, ../../sass/fonts.scss */
.icon-icons_main-14:before {
  content: "\e93a";
}
